.link {
    background-color: #2bbd52;
    width: 50px;
    height: 25px;
    color: #c2402d;
    border: 2px solid #323edb;
    border-radius: 15px;
}

#link-container{
    display: flex;
    justify-content: center;
}

#image-carousel {

display: flex;

border: 2px solid black;

overflow-x: hidden;

width: 50%;

margin-top: 1rem;

margin-bottom: 1rem;

margin-left: auto;

margin-right: auto;

}


#carousel-images {

display: flex;

width: 100%;

overflow-x: scroll;

scroll-snap-type: x-mandatory;

}


.process-image {

width: 100%;

scroll-snap-align: start;

object-fit: cover;

}



And finally, add this to the file called “javascript.js”: