.link {
    background-color: #2bbd52;
    width: 50px;
    height: 25px;
    color: #c2402d;
    border: 2px solid #323edb;
    border-radius: 15px;
}

#link-container{
    display: flex;
    justify-content: center;
}